*{
    font-family: 'Montserrat', sans-serif;
}

html,body{
    background-color: #FDF6EC;
}

h1{
    font-family: 'Titan One';
}

a:visited, a:hover, a:active
{
    color: rgb(26, 25, 25);
    text-decoration: none;
}

svg,path{
    width: 60px;
    height: 60px;
}

a:link{
    color: rgb(26, 25, 25);
}

div,p,a:link,#links {
    text-decoration: none;
}