*{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Titan One';
}

a:link, a:visited,  a:hover, a:active
{
    color: rgb(26, 25, 25);
    text-decoration: none;
}

svg,path{
    width: 60px;
    height: 60px;
}

